* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    font-size: 24pt;
}

body::before {
    max-width: 100%;
    max-height: 1000px;
    margin-top: 30%;
    margin-bottom: 30%;
}

