@import './navbar.css';

body {
    font-family: "Segoe UI";
    margin: 0;
    background: url(https://img.freepik.com/foto-gratis/textura-fondo-portada-libro-hecha-lona-gris-claro_98725-1145.jpg?size=626&e);
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
  font-family: "Segoe UI";
  src: '';
}
* {
    box-sizing: border-box;
}
.contenedor{
    font-family: "Segoe UI";
    width: 100%;
    padding: 15px;
}
.formulario{
    font-family: "Segoe UI";
    background: #F6F6F6;
    margin-top: 2%;
    padding: 3px;
}
h1{
    font-family: "Segoe UI";
    text-align: center;
    color: #000000;
    font-size: 40px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"]{
    font-family: "Segoe UI";
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
   -moz-appearance:textfield;
}
.input-contenedor{
    font-family: "Segoe UI";
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    font-family: "Segoe UI";
    min-width: 50px;
    text-align: center;
    color: #000000;
}
.button{
    font-family: "Segoe UI";
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: #000000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1%;
}
.button:hover{
    font-family: "Segoe UI";
    background: #000000;
}
p{
    font-family: "Segoe UI";
    text-align: center;
}
.link{
    font-family: "Segoe UI";
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.link:hover{
    font-family: "Segoe UI";
    color: cadetblue;
}

.content-message {
    background-color: #2ECC71;
    width:50%;
        margin-left: 25%;
    border-radius: 7px;
}

.content-error {
    width:50%;
    margin-left: 25%;
    border-radius: 7px;
    background-color: #E74C3C ;
}

.text-white{
    font-size: 16pt;
    color: #ffffff;
 }

@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}