/*Card y estilo*/
@import './footer.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.card img{
    margin: auto;
    display: block;
    height: 300px;
    width: 300px;
   
  }
.precio1{
    color: #e064cc;
    font-size: 16pt;
}
  
.button{
    background: linear-gradient(135deg, #ffffff, #db6ea8);
    height: 10px;
    margin: 1% 0
}
  
label{
    margin-top: 2%;
  }

/*footer inicio*/

  @media screen and (min-width: 1600px) {
    .container {
      width: 1400px;
    }
    .banner__title, .banner__txt {
      font-size: 2em;
    }
  }

.main-container-info {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    margin 5% 10%;
    padding: 15%;
}

.name_attribute {
    font-size: 16pt;
}

.value_attribute {
    font-style: capitalize;
    font-size: 16pt;
}