<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Catalogos</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/catalogues.css}">
    <script th:src="@{/util/sweetalert.js}" type="text/javascript"></script>
    <script th:src="@{/js/alerts.js}" type="text/javascript"></script>
</head>

<body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div th:if="${param.error}">
        <script>alertDeleteCatalogueError()</script>
    </div>
    <div th:if="${param.deleted}">
        <script>alertDeleteCatalogueSuccess()</script>
    </div>
    <br>
    <center>
        <h2>CATALOGOS DE PRODUCTOS</h2>
        <br>
        <br>
        <br>
        <div>
            <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:href="@{/catalogue/create}"><button type="button"
                    class="btn">Crear Catalogo</button></a>
            <br>
            <br>
            <br>
        </div>
    </center>
    <div th:if="${catalogueList.size() > 0}" th:remove="tag">
        <section th:each="catalogue : ${catalogueList}">
            <div class="card-catalogue estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="https://www.floristeriadfranco.com/310-large_default/mug-personalizado-tia-.jpg"
                            alt="producto 1">
                        <span class="promo" th:text="${catalogue.catalogueName}"></span>
                    </div>
                </a>
                <div class="info-container">
                    <h3 th:text="${catalogue.description}"></h3>
                    <strong>Precio $60</strong>
                    <span class="rating">★★★★★</span>
                    <form th:action="@{/catalogue/delete/}+${catalogue.catalogueId}">
                        <button sec:authorize="hasRole('ROLE_ADMINISTRATOR')" type="button" onclick="alertDeleteCatalogue()" id="submit-delete" class="add-cart">Eliminar</button>
                    </form>
                    <a th:href="@{/catalogue/}+${catalogue.catalogueId}" class="add-cart">Ver Catalogo</a>
                    <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="#" class="add-cart">Actualizar</a>
                </div>
            </div>
        </section>
    </div>
    <div th:unless="${catalogueList.size()} > 0" class="no-catalogues">
		<img th:src="@{/assets/plus-solid.svg}" src="../static/assets/plus-solid.svg" alt="icon" width="17%" height="17%" />
	</div>
	<div th:unless="${catalogueList.size()} > 0" class="no-catalogues">
		<b><p>Aún no se han creado catálogos</p></b>
	</div>
	<div th:unless="${catalogueList.size()} > 0" class="no-catalogues">
		<p sec:authorize="hasRole('USER') || !isAuthenticated()" class="no-catalogues-user-message">
			Por favor espere a que el administrador de la aplicación registre catálogos
		</p>
	</div>
    <br>
    <br>
    <div th:replace="/fragments/footer :: footer"></div>
</body>

</html>