<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Productos</title>
	<link rel="stylesheet" th:href="@{/styles/products.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">DETALLITOS YCDG</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">INICIO</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> INICIAR SESION</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> REGISTRARSE</a></li>
		  </ul>
		</div>
	  </nav>
	<div class="title-cards">
			<h2>Productos</h2>
	</div>
					
<div class="productos">
	<!--   Tarjetas-->
	<center sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
		<a th:href="@{/product/create}" ><button class="button">Crear Nuevo Producto</button></a>
	</center><br><br>
	<div class="container-card">

	<div th:each="product : ${productList}">
		<div class="card">
			<figure>
				<img th:src="@{/assets/products/}+${product.image}" th:alt="${product.image}">
			</figure>
			<div class="contenido-card">
				<h3 th:text="${product.productName}"></h3>
				<p th:text="${product.productPrice}"></p>
				<a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:href="@{/product/update/}+${product.productId}">Actualizar</a>
				<a th:href="@{/product/} + ${product.productId}">Ver</a>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Footer --> 
<div th:replace="index :: footer"></div>
<!--Fin de Footer-->


</body>
</html>