<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registro DetallitosYCD</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{styles/forms.css}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/util/sweetalert.js}" type="text/javascript"></script>
    <script th:src="@{/js/alerts.js}" type="text/javascript"></script>
    <script th:src="@{/js/validators.js}" type="text/javascript"></script>
</head>

<body>
    <div th:replace="/fragments/navbar :: navbar"></div>

    <div th:if="${param.success}">
        <script>alertRegisterSuccess()</script>
    </div>

    <div th:if="${param.idExists}">
        <script>alertRegisterIdExist()</script>
    </div>

    <div th:if="${param.emailExist}"> 
        <script>alertRegisterEmailExist()</script>
    </div>

    <form class="formulario" th:action="@{/saveUser}" th:object="${userRegister}" method="post">
        <h1>Registrarse</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="number" th:field="*{userId}" onkeypress="validateInputNumberNoPointComa(event, 'Documento')"  pattern="[0-9]+" onchange="formRegisterValidators()" name="userId" id="userId"  placeholder="Identificación"  required>
            </div>
            <div class="input-contenedor">
                <input type="text" th:field="*{userName}" onchange="formRegisterValidators()" name="userName" id="userName"  placeholder="Nombre Completo"  required>
            </div>
            <div class="input-contenedor">
                <input type="number" th:field="*{cellphone}" onkeypress="validateInputNumberNoPointComa(event, 'Celular')" pattern="[0-9]+" onchange="formRegisterValidators()" name="cellphone" id="cellphone" placeholder="Celular" required>
            </div>
            <div class="input-contenedor">
                <input type="text" th:field="*{address}" onchange="formRegisterValidators()" name="address" id="address"   placeholder="Dirección"  required>
            </div>
            <div class="input-contenedor">
                <input type="email" th:field="*{email}" onchange="formRegisterValidators()" name="email" id="email"  placeholder="Correo Electronico" required>
            </div>
            <div class="input-contenedor">
                <input type="password" th:field="*{password}" onchange="formRegisterValidators()" name="password" id="password" placeholder="Contraseña" required>
            </div>
            <input type="submit"  value="Registrarse" id="submit" class="button" onclick="alertRegisterFailed(formRegisterValidators())" disabled><br>
            <p>Al enviar tus datos estarán seguros y no serán revelados.</p>
            <p>¿Ya tienes una Cuenta? <a class="link" th:href="@{/login}">Iniciar Sesion</a></p>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
</body>

</html>