<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro DetallitosYCD</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{styles/forms.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/util/sweetalert.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar"></div>

<div th:if="${param.success}">
    <script>Swal.fire({
        title: "¡Usuario registrado exitosamente!",
        confirmButtonText: "¡Aceptar!",
        confirmButtonColor: '#a5dc86 ',
        icon: 'success'
    })</script>
</div>

<div th:if="${param.idExists}" >
    <script>Swal.fire({
        title: "¡Este usuario ya existe!",
        text: "El documento ingresado ya pertenece a otro usuario. Por favor inténtelo nuevamente",
        confirmButtonText: "¡Aceptar!",
        confirmButtonColor: '#f27474 ',
        icon: 'error'
    })</script>
</div>

<div th:if="${param.emailExist}">
    <script>Swal.fire({
        title: "¡Este correo electrónico ya existe!",
        text: "El correo electrónico ingresado ya pertenece a otro usuario. Por favor inténtelo nuevamente",
        confirmButtonText: "¡Aceptar!",
        confirmButtonColor: '#f27474 ',
        icon: 'error'
    })</script>
</div>

<form class="formulario" th:action="@{/saveUser}"  th:object="${userRegister}" method="POST">
    <h1>Registrarse</h1>
    <div class="contenedor">

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" th:field="*{userId}" name="userId" placeholder="Identificación" required>
        </div>
        <div class="input-contenedor">
            <input type="text" th:field="*{userName}" name="userName" placeholder="Nombre Completo" required>
        </div>
        <div class="input-contenedor">
            <input type="text" th:field="*{cellphone}" name="cellphone" placeholder="Celular" required>
        </div>
        <div class="input-contenedor">
            <input type="text" th:field="*{address}" name="address" placeholder="Dirección" required>
        </div>
        <div class="input-contenedor">
            <input type="text" th:field="*{email}" name="email" placeholder="Correo Electronico" required>
        </div>
        <div class="input-contenedor">
            <input type="password" th:field="*{password}" name="password" placeholder="Contraseña" required>
        </div>
        <input type="submit" value="Registrarse" class="button"><br>
        <p>Al enviar tus datos estarán seguros y no serán revelados.</p>
        <p>¿Ya tienes una Cuenta? <a class="link" th:href="@{/login}">Iniciar Sesion</a></p>
    </div>
</form>
<br>
<br>
<br>
<br>
</body>
</html>