<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/shoppingCart.css}">
    <script th:src="@{/util/sweetalert.js}" type="text/javascript"></script>
    <script th:src="@{/js/alerts.js}" type="text/javascript"></script>
    <script th:src="@{/js/shoppingCart.js}" type="text/javascript"></script>
    <script th:src="@{/js/validators.js}" type="text/javascript"></script>
    <script th:if="${user}" th:inline="javascript">
        var address = [[${ user.getAddress() }]];
    </script>
</head>

<body>
    <div th:replace="/fragments/navbar :: navbar"></div>

    <div th:if="${param.productExist}">
        <script>alertProductExistInBill()</script>
    </div>
    <div th:if="${param.productAdded}">
        <script>alertProductAddedInBill()</script>
    </div>
    <div th:if="${param.productDeleted}">
        <script>alertProductDeletedInBill()</script>
    </div>
    <div th:if="${param.error}">
        <script>alertProductDeletedInBill()</script>
    </div>


    <a th:href="@{/bill/showClosed}">
        <button type="button">Ver facturas cerradas</button>
    </a>
    <br>
    <br>
    <h1>CARRITO DE COMPRAS</h1>
    <center>
        <div th:if="${activeBill != null}">
            <table>
                <thead>
                    <tr>
                        <th>PRODUCTO</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                        <th>SUBTOTAL</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <div th:if="${products.size() > 0 && billProducts.size() > 0}" th:remove="tag">
                    <tr th:each="product, i : ${products}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="'$ '+${product.productPrice}"></td>

                        <td th:text="${billProducts.get(i.index).amountPurchased}+${billProducts.get(i.index).amountPurchased > 1 ? ' unidades' : ' unidad'}">
                        </td>
                        <td th:text="'$ '+${billProducts.get(i.index).subTotal}"></td>
                        <td><form th:action="@{/bill/deleteProduct}" method="post">
                            <input type="hidden" th:value="${product.productId}" name="productId" />
                            <input type="hidden" th:value="${activeBill.billId}" name="billId" />
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form></td>
                    </tr>
                </div>
            </table>
            <br>
            <h1>ENTREGA DE LOS PRODUCTOS</h1>
            <center>
                <div class="container3">
                    <div th:if="${billProducts.size() == 0}" class="alert-message">
                       <script>alertNoProductsInActiveBill()</script>
                    </div>
                    <div th:unless="${billProducts.size() == 0}">
                        <br>
                        <form th:action="@{/bill/close}" method="post" class="form-close">
                            <label for="deliver">Entrega:</label>
                            <select id="deliver" name="deliverType" onchange="putOrDeleteInputAddress()">
                                <option selected value="local">Local</option>
                                <option value="domicilio">Domicilio</option>
                            </select>
                            <br>
                            <br>
                            <label for="paymentType">Formas de Pago:</label>
                            <input type="text" id="paymentType" value="EFECTIVO" readonly>
                            <br>
                            <br>
                            <label for="finalPrice">TOTAL:</label>
                            <input type="text" th:value="'$ '+${activeBill.finalPrice}" name="finalPrice" id="finalPrice"
                                readonly>

                            <input type="hidden" name="billId" th:value="${activeBill.billId}" />
                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                <input type="button" onclick="formAddressShopping(true)" class="submit-button" value="Comprar" id="submit" />
                            </div>
                            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                                <input type="button" onclick="alertLoginRequired()" class="submit-button" value="Comprar" />
                            </div>
                        </form>
                    </div>
                </div>
            </center>
        </div>
        <div th:unless="${activeBill != null}" class="alert-message">
           <script>alertNoActiveBill()</script>
        </div>
    </center>
    <div th:replace="/fragments/footer :: footer"></div>
</body>

</html>