<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
</head>
<body>
    <p>Producto</p>
    <p th:text="${oneProduct.productName}"></p>
    <p th:text="${oneProduct.productId}"></p>
    <p th:text="${oneProduct.productType}"></p>
    <p th:text="${oneProduct.productPrice}"></p>
    <p th:text="${oneProduct.amountStock}"></p>
    <p th:text="${oneProduct.description}"></p>
    <p th:text="${oneProduct.isVisible}"></p>

</body>
</html>